* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 16px 0;
    background-color: rgb(216, 9, 9);
    color: black;
}

header {
    font-family: 'Trade Winds', cursiva;
}

header nav li {
    display: inline;
    margin-left: 24px;
}

header nav li a {
    color: black;
    font-size: 24px;
    text-decoration: none;
    font-family: 'Bungee', cursive;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 8px;
}

section img {
    margin-right: 40px;
}

section, button,
input, textarea {
    font-family: 'Zen Dots', cursive;
    font-weight: normal;
}

section img {
    margin-right: 40px;
    margin-bottom: 120px;
}

section p {
    margin-top: 50px;
}

.social-links img {
    height: 24px;

}

.social-links img {
    display:inline-block
}

.social-links li a {
    text-decoration: none;
}

.social-links li {
    display: inline;
    margin-right: 15px;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;

}

form textarea {
    resize: none;
    height: 180px;
}

#band {
    margin-left: 200px;
}

#spacing {
    margin-left: 120px;
}

form button {
    background-color: brown;
}

form button {
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(235, 92, 92);
}

footer {
    background-color: rgb(216, 9, 9);
    font-family: 'Zen Dots', cursive;
    padding: 16px 0;
}

input:focus, textarea:focus {
    outline-color: rgb(216, 9, 9);
}